In [174]:
import pandas as pd

# get list of dataframes and select index 4
us_covid_data = pd.read_html('https://en.wikipedia.org/wiki/COVID-19_pandemic_in_the_United_States')[4]

# select rows and columns
us_covid_data = us_covid_data.iloc[0:56, 1:6]

# rename columns
us_covid_data.columns = ['state_territory', 'cases', 'deaths', 'recovered', 'hospitalized']
print(us_covid_data)

             state_territory   cases deaths recovered hospitalized
0                    Alabama   51294   1086     22082         2961
1                     Alaska    1184     17       560           78
2             American Samoa       0      0         –            –
3                    Arizona  116892   2082         –         5272
4                   Arkansas   24253    292     17834         1604
5                 California  312344   6945         –            –
6                   Colorado   34316   1704         –         5527
7                Connecticut   46976   4338         –            –
8                   Delaware   12293    512      6778            –
9       District of Columbia   10569    561      1465            –
10                   Florida  269811   4242         –        18271
11                   Georgia  111211   2965         –        11919
12                      Guam    1272      6       179            –
13                    Hawaii    1012     19       746          116
14                     Idaho    8222     94      2886          350
15                  Illinois  151767   7144         –            –
16                   Indiana   49560   2698     36788         7139
17                      Iowa   31906    725     24242            –
18                    Kansas   18611    284         –         1304
19                  Kentucky   17526    623      4785         2662
20                 Louisiana   66435   3296     43026            –
21                     Maine    3440    110      2787          354
22                  Maryland   70497   3246         –        10939
23             Massachusetts  111110   8296     88725        10985
24                  Michigan   73403   6225     52841            –
25                 Minnesota   38606   1511     33907         4112
26               Mississippi   31257   1114     22167         2881
27                  Missouri   24985   1077         –            –
28                   Montana    1249     23       678           89
29                  Nebraska   20053    286     14641         1224
30                    Nevada   22930    537         –            –
31             New Hampshire    5914    382      4684          558
32                New Jersey  175298  15525     31190            –
33                New Mexico   15028    545     61322         2204
34                  New York  401706  32350     71565            –
35            North Carolina   85701   1503     55318            –
36              North Dakota    3858     89      3350          218
37  Northern Mariana Islands      31      2        19            –
38                      Ohio   57956   2927         –         7292
39                  Oklahoma   16362    399     12432         1676
40                    Oregon   10402    218      2846         1069
41              Pennsylvania   93876   6880         –            –
42               Puerto Rico    8714    157         –            –
43              Rhode Island   17312    976         –         2051
44            South Carolina   54538    940         –            –
45              South Dakota    7105     97      6062          689
46                 Tennessee   51509    646     31020         2860
47                     Texas  240111   3013    122996         9610
48            Virgin Islands     112      6        79            –
49                      Utah   25563    190     14448         1565
50                   Vermont    1251     56      1022            –
51                  Virginia   66740   1881         –         9549
52                Washington   38517   1370         –         4463
53             West Virginia    3461     95      2518            –
54                 Wisconsin   35318    805     25542         3574
55                   Wyoming    1675     20      1172          253

In [175]:
# Removing rows with U.S territories
us_covid_data = us_covid_data.drop([2,12,37,42,48], axis=0)

In [176]:
# Making sure that the rows were removed 
us_covid_data

         state_territory   cases deaths recovered hospitalized
0                Alabama   51294   1086     22082         2961
1                 Alaska    1184     17       560           78
3                Arizona  116892   2082         –         5272
4               Arkansas   24253    292     17834         1604
5             California  312344   6945         –            –
6               Colorado   34316   1704         –         5527
7            Connecticut   46976   4338         –            –
8               Delaware   12293    512      6778            –
9   District of Columbia   10569    561      1465            –
10               Florida  269811   4242         –        18271
11               Georgia  111211   2965         –        11919
13                Hawaii    1012     19       746          116
14                 Idaho    8222     94      2886          350
15              Illinois  151767   7144         –            –
16               Indiana   49560   2698     36788         7139
17                  Iowa   31906    725     24242            –
18                Kansas   18611    284         –         1304
19              Kentucky   17526    623      4785         2662
20             Louisiana   66435   3296     43026            –
21                 Maine    3440    110      2787          354
22              Maryland   70497   3246         –        10939
23         Massachusetts  111110   8296     88725        10985
24              Michigan   73403   6225     52841            –
25             Minnesota   38606   1511     33907         4112
26           Mississippi   31257   1114     22167         2881
27              Missouri   24985   1077         –            –
28               Montana    1249     23       678           89
29              Nebraska   20053    286     14641         1224
30                Nevada   22930    537         –            –
31         New Hampshire    5914    382      4684          558
32            New Jersey  175298  15525     31190            –
33            New Mexico   15028    545     61322         2204
34              New York  401706  32350     71565            –
35        North Carolina   85701   1503     55318            –
36          North Dakota    3858     89      3350          218
38                  Ohio   57956   2927         –         7292
39              Oklahoma   16362    399     12432         1676
40                Oregon   10402    218      2846         1069
41          Pennsylvania   93876   6880         –            –
43          Rhode Island   17312    976         –         2051
44        South Carolina   54538    940         –            –
45          South Dakota    7105     97      6062          689
46             Tennessee   51509    646     31020         2860
47                 Texas  240111   3013    122996         9610
49                  Utah   25563    190     14448         1565
50               Vermont    1251     56      1022            –
51              Virginia   66740   1881         –         9549
52            Washington   38517   1370         –         4463
53         West Virginia    3461     95      2518            –
54             Wisconsin   35318    805     25542         3574
55               Wyoming    1675     20      1172          253

In [177]:
us_covid_data.columns = ['state', 'cases', 'deaths', 'recovered', 'hospitalized']

In [178]:
us_covid_data

                   state   cases deaths recovered hospitalized
0                Alabama   51294   1086     22082         2961
1                 Alaska    1184     17       560           78
3                Arizona  116892   2082         –         5272
4               Arkansas   24253    292     17834         1604
5             California  312344   6945         –            –
6               Colorado   34316   1704         –         5527
7            Connecticut   46976   4338         –            –
8               Delaware   12293    512      6778            –
9   District of Columbia   10569    561      1465            –
10               Florida  269811   4242         –        18271
11               Georgia  111211   2965         –        11919
13                Hawaii    1012     19       746          116
14                 Idaho    8222     94      2886          350
15              Illinois  151767   7144         –            –
16               Indiana   49560   2698     36788         7139
17                  Iowa   31906    725     24242            –
18                Kansas   18611    284         –         1304
19              Kentucky   17526    623      4785         2662
20             Louisiana   66435   3296     43026            –
21                 Maine    3440    110      2787          354
22              Maryland   70497   3246         –        10939
23         Massachusetts  111110   8296     88725        10985
24              Michigan   73403   6225     52841            –
25             Minnesota   38606   1511     33907         4112
26           Mississippi   31257   1114     22167         2881
27              Missouri   24985   1077         –            –
28               Montana    1249     23       678           89
29              Nebraska   20053    286     14641         1224
30                Nevada   22930    537         –            –
31         New Hampshire    5914    382      4684          558
32            New Jersey  175298  15525     31190            –
33            New Mexico   15028    545     61322         2204
34              New York  401706  32350     71565            –
35        North Carolina   85701   1503     55318            –
36          North Dakota    3858     89      3350          218
38                  Ohio   57956   2927         –         7292
39              Oklahoma   16362    399     12432         1676
40                Oregon   10402    218      2846         1069
41          Pennsylvania   93876   6880         –            –
43          Rhode Island   17312    976         –         2051
44        South Carolina   54538    940         –            –
45          South Dakota    7105     97      6062          689
46             Tennessee   51509    646     31020         2860
47                 Texas  240111   3013    122996         9610
49                  Utah   25563    190     14448         1565
50               Vermont    1251     56      1022            –
51              Virginia   66740   1881         –         9549
52            Washington   38517   1370         –         4463
53         West Virginia    3461     95      2518            –
54             Wisconsin   35318    805     25542         3574
55               Wyoming    1675     20      1172          253

In [179]:
us_covid_data.to_csv('CovidData.csv',index=False)

In [180]:
for index, row in us_covid_data.iterrows():
     us_covid_data.at[56, 'hospitalized'] = 135375

In [181]:
us_covid_data

                   state   cases deaths recovered hospitalized
0                Alabama   51294   1086     22082         2961
1                 Alaska    1184     17       560           78
3                Arizona  116892   2082         –         5272
4               Arkansas   24253    292     17834         1604
5             California  312344   6945         –            –
6               Colorado   34316   1704         –         5527
7            Connecticut   46976   4338         –            –
8               Delaware   12293    512      6778            –
9   District of Columbia   10569    561      1465            –
10               Florida  269811   4242         –        18271
11               Georgia  111211   2965         –        11919
13                Hawaii    1012     19       746          116
14                 Idaho    8222     94      2886          350
15              Illinois  151767   7144         –            –
16               Indiana   49560   2698     36788         7139
17                  Iowa   31906    725     24242            –
18                Kansas   18611    284         –         1304
19              Kentucky   17526    623      4785         2662
20             Louisiana   66435   3296     43026            –
21                 Maine    3440    110      2787          354
22              Maryland   70497   3246         –        10939
23         Massachusetts  111110   8296     88725        10985
24              Michigan   73403   6225     52841            –
25             Minnesota   38606   1511     33907         4112
26           Mississippi   31257   1114     22167         2881
27              Missouri   24985   1077         –            –
28               Montana    1249     23       678           89
29              Nebraska   20053    286     14641         1224
30                Nevada   22930    537         –            –
31         New Hampshire    5914    382      4684          558
32            New Jersey  175298  15525     31190            –
33            New Mexico   15028    545     61322         2204
34              New York  401706  32350     71565            –
35        North Carolina   85701   1503     55318            –
36          North Dakota    3858     89      3350          218
38                  Ohio   57956   2927         –         7292
39              Oklahoma   16362    399     12432         1676
40                Oregon   10402    218      2846         1069
41          Pennsylvania   93876   6880         –            –
43          Rhode Island   17312    976         –         2051
44        South Carolina   54538    940         –            –
45          South Dakota    7105     97      6062          689
46             Tennessee   51509    646     31020         2860
47                 Texas  240111   3013    122996         9610
49                  Utah   25563    190     14448         1565
50               Vermont    1251     56      1022            –
51              Virginia   66740   1881         –         9549
52            Washington   38517   1370         –         4463
53         West Virginia    3461     95      2518            –
54             Wisconsin   35318    805     25542         3574
55               Wyoming    1675     20      1172          253
56                   NaN     NaN    NaN       NaN       135375

In [182]:
for index, row in us_covid_data.iterrows():
     us_covid_data.at[56, 'recovered'] = 768814

In [183]:
for index, row in us_covid_data.iterrows():
     us_covid_data.at[56, 'deaths'] = 132864

In [184]:
for index, row in us_covid_data.iterrows():
     us_covid_data.at[56, 'cases'] = 3140357

In [185]:
us_covid_data

                   state    cases  deaths recovered hospitalized
0                Alabama    51294    1086     22082         2961
1                 Alaska     1184      17       560           78
3                Arizona   116892    2082         –         5272
4               Arkansas    24253     292     17834         1604
5             California   312344    6945         –            –
6               Colorado    34316    1704         –         5527
7            Connecticut    46976    4338         –            –
8               Delaware    12293     512      6778            –
9   District of Columbia    10569     561      1465            –
10               Florida   269811    4242         –        18271
11               Georgia   111211    2965         –        11919
13                Hawaii     1012      19       746          116
14                 Idaho     8222      94      2886          350
15              Illinois   151767    7144         –            –
16               Indiana    49560    2698     36788         7139
17                  Iowa    31906     725     24242            –
18                Kansas    18611     284         –         1304
19              Kentucky    17526     623      4785         2662
20             Louisiana    66435    3296     43026            –
21                 Maine     3440     110      2787          354
22              Maryland    70497    3246         –        10939
23         Massachusetts   111110    8296     88725        10985
24              Michigan    73403    6225     52841            –
25             Minnesota    38606    1511     33907         4112
26           Mississippi    31257    1114     22167         2881
27              Missouri    24985    1077         –            –
28               Montana     1249      23       678           89
29              Nebraska    20053     286     14641         1224
30                Nevada    22930     537         –            –
31         New Hampshire     5914     382      4684          558
32            New Jersey   175298   15525     31190            –
33            New Mexico    15028     545     61322         2204
34              New York   401706   32350     71565            –
35        North Carolina    85701    1503     55318            –
36          North Dakota     3858      89      3350          218
38                  Ohio    57956    2927         –         7292
39              Oklahoma    16362     399     12432         1676
40                Oregon    10402     218      2846         1069
41          Pennsylvania    93876    6880         –            –
43          Rhode Island    17312     976         –         2051
44        South Carolina    54538     940         –            –
45          South Dakota     7105      97      6062          689
46             Tennessee    51509     646     31020         2860
47                 Texas   240111    3013    122996         9610
49                  Utah    25563     190     14448         1565
50               Vermont     1251      56      1022            –
51              Virginia    66740    1881         –         9549
52            Washington    38517    1370         –         4463
53         West Virginia     3461      95      2518            –
54             Wisconsin    35318     805     25542         3574
55               Wyoming     1675      20      1172          253
56                   NaN  3140357  132864    768814       135375

In [186]:
us_covid_data.isnull().sum()

state           1
cases           0
deaths          0
recovered       0
hospitalized    0
dtype: int64

In [187]:
us_covid_data = us_covid_data.fillna(" ")
us_covid_data.isnull().sum()

state           0
cases           0
deaths          0
recovered       0
hospitalized    0
dtype: int64

In [188]:
us_covid_data

                   state    cases  deaths recovered hospitalized
0                Alabama    51294    1086     22082         2961
1                 Alaska     1184      17       560           78
3                Arizona   116892    2082         –         5272
4               Arkansas    24253     292     17834         1604
5             California   312344    6945         –            –
6               Colorado    34316    1704         –         5527
7            Connecticut    46976    4338         –            –
8               Delaware    12293     512      6778            –
9   District of Columbia    10569     561      1465            –
10               Florida   269811    4242         –        18271
11               Georgia   111211    2965         –        11919
13                Hawaii     1012      19       746          116
14                 Idaho     8222      94      2886          350
15              Illinois   151767    7144         –            –
16               Indiana    49560    2698     36788         7139
17                  Iowa    31906     725     24242            –
18                Kansas    18611     284         –         1304
19              Kentucky    17526     623      4785         2662
20             Louisiana    66435    3296     43026            –
21                 Maine     3440     110      2787          354
22              Maryland    70497    3246         –        10939
23         Massachusetts   111110    8296     88725        10985
24              Michigan    73403    6225     52841            –
25             Minnesota    38606    1511     33907         4112
26           Mississippi    31257    1114     22167         2881
27              Missouri    24985    1077         –            –
28               Montana     1249      23       678           89
29              Nebraska    20053     286     14641         1224
30                Nevada    22930     537         –            –
31         New Hampshire     5914     382      4684          558
32            New Jersey   175298   15525     31190            –
33            New Mexico    15028     545     61322         2204
34              New York   401706   32350     71565            –
35        North Carolina    85701    1503     55318            –
36          North Dakota     3858      89      3350          218
38                  Ohio    57956    2927         –         7292
39              Oklahoma    16362     399     12432         1676
40                Oregon    10402     218      2846         1069
41          Pennsylvania    93876    6880         –            –
43          Rhode Island    17312     976         –         2051
44        South Carolina    54538     940         –            –
45          South Dakota     7105      97      6062          689
46             Tennessee    51509     646     31020         2860
47                 Texas   240111    3013    122996         9610
49                  Utah    25563     190     14448         1565
50               Vermont     1251      56      1022            –
51              Virginia    66740    1881         –         9549
52            Washington    38517    1370         –         4463
53         West Virginia     3461      95      2518            –
54             Wisconsin    35318     805     25542         3574
55               Wyoming     1675      20      1172          253
56                        3140357  132864    768814       135375

In [189]:
import numpy as np
NaN = np.nan
us_covid_data["sum"]=NaN

In [190]:
us_covid_data

                   state    cases  deaths recovered hospitalized  sum
0                Alabama    51294    1086     22082         2961  NaN
1                 Alaska     1184      17       560           78  NaN
3                Arizona   116892    2082         –         5272  NaN
4               Arkansas    24253     292     17834         1604  NaN
5             California   312344    6945         –            –  NaN
6               Colorado    34316    1704         –         5527  NaN
7            Connecticut    46976    4338         –            –  NaN
8               Delaware    12293     512      6778            –  NaN
9   District of Columbia    10569     561      1465            –  NaN
10               Florida   269811    4242         –        18271  NaN
11               Georgia   111211    2965         –        11919  NaN
13                Hawaii     1012      19       746          116  NaN
14                 Idaho     8222      94      2886          350  NaN
15              Illinois   151767    7144         –            –  NaN
16               Indiana    49560    2698     36788         7139  NaN
17                  Iowa    31906     725     24242            –  NaN
18                Kansas    18611     284         –         1304  NaN
19              Kentucky    17526     623      4785         2662  NaN
20             Louisiana    66435    3296     43026            –  NaN
21                 Maine     3440     110      2787          354  NaN
22              Maryland    70497    3246         –        10939  NaN
23         Massachusetts   111110    8296     88725        10985  NaN
24              Michigan    73403    6225     52841            –  NaN
25             Minnesota    38606    1511     33907         4112  NaN
26           Mississippi    31257    1114     22167         2881  NaN
27              Missouri    24985    1077         –            –  NaN
28               Montana     1249      23       678           89  NaN
29              Nebraska    20053     286     14641         1224  NaN
30                Nevada    22930     537         –            –  NaN
31         New Hampshire     5914     382      4684          558  NaN
32            New Jersey   175298   15525     31190            –  NaN
33            New Mexico    15028     545     61322         2204  NaN
34              New York   401706   32350     71565            –  NaN
35        North Carolina    85701    1503     55318            –  NaN
36          North Dakota     3858      89      3350          218  NaN
38                  Ohio    57956    2927         –         7292  NaN
39              Oklahoma    16362     399     12432         1676  NaN
40                Oregon    10402     218      2846         1069  NaN
41          Pennsylvania    93876    6880         –            –  NaN
43          Rhode Island    17312     976         –         2051  NaN
44        South Carolina    54538     940         –            –  NaN
45          South Dakota     7105      97      6062          689  NaN
46             Tennessee    51509     646     31020         2860  NaN
47                 Texas   240111    3013    122996         9610  NaN
49                  Utah    25563     190     14448         1565  NaN
50               Vermont     1251      56      1022            –  NaN
51              Virginia    66740    1881         –         9549  NaN
52            Washington    38517    1370         –         4463  NaN
53         West Virginia     3461      95      2518            –  NaN
54             Wisconsin    35318     805     25542         3574  NaN
55               Wyoming     1675      20      1172          253  NaN
56                        3140357  132864    768814       135375  NaN

In [192]:
us_covid_data = us_covid_data[['sum', 'state', 'cases', 'deaths','recovered','hospitalized']]

In [193]:
us_covid_data

    sum                 state    cases  deaths recovered hospitalized
0   NaN               Alabama    51294    1086     22082         2961
1   NaN                Alaska     1184      17       560           78
3   NaN               Arizona   116892    2082         –         5272
4   NaN              Arkansas    24253     292     17834         1604
5   NaN            California   312344    6945         –            –
6   NaN              Colorado    34316    1704         –         5527
7   NaN           Connecticut    46976    4338         –            –
8   NaN              Delaware    12293     512      6778            –
9   NaN  District of Columbia    10569     561      1465            –
10  NaN               Florida   269811    4242         –        18271
11  NaN               Georgia   111211    2965         –        11919
13  NaN                Hawaii     1012      19       746          116
14  NaN                 Idaho     8222      94      2886          350
15  NaN              Illinois   151767    7144         –            –
16  NaN               Indiana    49560    2698     36788         7139
17  NaN                  Iowa    31906     725     24242            –
18  NaN                Kansas    18611     284         –         1304
19  NaN              Kentucky    17526     623      4785         2662
20  NaN             Louisiana    66435    3296     43026            –
21  NaN                 Maine     3440     110      2787          354
22  NaN              Maryland    70497    3246         –        10939
23  NaN         Massachusetts   111110    8296     88725        10985
24  NaN              Michigan    73403    6225     52841            –
25  NaN             Minnesota    38606    1511     33907         4112
26  NaN           Mississippi    31257    1114     22167         2881
27  NaN              Missouri    24985    1077         –            –
28  NaN               Montana     1249      23       678           89
29  NaN              Nebraska    20053     286     14641         1224
30  NaN                Nevada    22930     537         –            –
31  NaN         New Hampshire     5914     382      4684          558
32  NaN            New Jersey   175298   15525     31190            –
33  NaN            New Mexico    15028     545     61322         2204
34  NaN              New York   401706   32350     71565            –
35  NaN        North Carolina    85701    1503     55318            –
36  NaN          North Dakota     3858      89      3350          218
38  NaN                  Ohio    57956    2927         –         7292
39  NaN              Oklahoma    16362     399     12432         1676
40  NaN                Oregon    10402     218      2846         1069
41  NaN          Pennsylvania    93876    6880         –            –
43  NaN          Rhode Island    17312     976         –         2051
44  NaN        South Carolina    54538     940         –            –
45  NaN          South Dakota     7105      97      6062          689
46  NaN             Tennessee    51509     646     31020         2860
47  NaN                 Texas   240111    3013    122996         9610
49  NaN                  Utah    25563     190     14448         1565
50  NaN               Vermont     1251      56      1022            –
51  NaN              Virginia    66740    1881         –         9549
52  NaN            Washington    38517    1370         –         4463
53  NaN         West Virginia     3461      95      2518            –
54  NaN             Wisconsin    35318     805     25542         3574
55  NaN               Wyoming     1675      20      1172          253
56  NaN                        3140357  132864    768814       135375

In [194]:
us_covid_data = us_covid_data.fillna(" ")
us_covid_data.isnull().sum()

sum             0
state           0
cases           0
deaths          0
recovered       0
hospitalized    0
dtype: int64

In [199]:
for index, row in us_covid_data.iterrows():
     us_covid_data.at[56, 'sum'] = 'Totals Per Column'

In [200]:
us_covid_data

,sum,state,cases,deaths,recovered,hospitalized
0,,Alabama,51294,1086,22082,2961
1,,Alaska,1184,17,560,78
3,,Arizona,116892,2082,–,5272
4,,Arkansas,24253,292,17834,1604
5,,California,312344,6945,–,–
6,,Colorado,34316,1704,–,5527
7,,Connecticut,46976,4338,–,–
8,,Delaware,12293,512,6778,–
9,,District of Columbia,10569,561,1465,–
10,,Florida,269811,4242,–,18271
11,,Georgia,111211,2965,–,11919
13,,Hawaii,1012,19,746,116
14,,Idaho,8222,94,2886,350
15,,Illinois,151767,7144,–,–
16,,Indiana,49560,2698,36788,7139
17,,Iowa,31906,725,24242,–
18,,Kansas,18611,284,–,1304
19,,Kentucky,17526,623,4785,2662
20,,Louisiana,66435,3296,43026,–
21,,Maine,3440,110,2787,354
22,,Maryland,70497,3246,–,10939
23,,Massachusetts,111110,8296,88725,10985
24,,Michigan,73403,6225,52841,–
25,,Minnesota,38606,1511,33907,4112
26,,Mississippi,31257,1114,22167,2881
27,,Missouri,24985,1077,–,–
28,,Montana,1249,23,678,89
29,,Nebraska,20053,286,14641,1224
30,,Nevada,22930,537,–,–
31,,New Hampshire,5914,382,4684,558
32,,New Jersey,175298,15525,31190,–
33,,New Mexico,15028,545,61322,2204
34,,New York,401706,32350,71565,–
35,,North Carolina,85701,1503,55318,–
36,,North Dakota,3858,89,3350,218
38,,Ohio,57956,2927,–,7292
39,,Oklahoma,16362,399,12432,1676
40,,Oregon,10402,218,2846,1069
41,,Pennsylvania,93876,6880,–,–
43,,Rhode Island,17312,976,–,2051
44,,South Carolina,54538,940,–,–
45,,South Dakota,7105,97,6062,689
46,,Tennessee,51509,646,31020,2860
47,,Texas,240111,3013,122996,9610
49,,Utah,25563,190,14448,1565
50,,Vermont,1251,56,1022,–
51,,Virginia,66740,1881,–,9549
52,,Washington,38517,1370,–,4463
53,,West Virginia,3461,95,2518,–
54,,Wisconsin,35318,805,25542,3574
55,,Wyoming,1675,20,1172,253
56,Totals Per Column,,3140357,132864,768814,135375

In [201]:
for index, row in us_covid_data.iterrows():
     us_covid_data.at[56, 'state'] = '-'

In [202]:
us_covid_data

,sum,state,cases,deaths,recovered,hospitalized
0,,Alabama,51294,1086,22082,2961
1,,Alaska,1184,17,560,78
3,,Arizona,116892,2082,–,5272
4,,Arkansas,24253,292,17834,1604
5,,California,312344,6945,–,–
6,,Colorado,34316,1704,–,5527
7,,Connecticut,46976,4338,–,–
8,,Delaware,12293,512,6778,–
9,,District of Columbia,10569,561,1465,–
10,,Florida,269811,4242,–,18271
11,,Georgia,111211,2965,–,11919
13,,Hawaii,1012,19,746,116
14,,Idaho,8222,94,2886,350
15,,Illinois,151767,7144,–,–
16,,Indiana,49560,2698,36788,7139
17,,Iowa,31906,725,24242,–
18,,Kansas,18611,284,–,1304
19,,Kentucky,17526,623,4785,2662
20,,Louisiana,66435,3296,43026,–
21,,Maine,3440,110,2787,354
22,,Maryland,70497,3246,–,10939
23,,Massachusetts,111110,8296,88725,10985
24,,Michigan,73403,6225,52841,–
25,,Minnesota,38606,1511,33907,4112
26,,Mississippi,31257,1114,22167,2881
27,,Missouri,24985,1077,–,–
28,,Montana,1249,23,678,89
29,,Nebraska,20053,286,14641,1224
30,,Nevada,22930,537,–,–
31,,New Hampshire,5914,382,4684,558
32,,New Jersey,175298,15525,31190,–
33,,New Mexico,15028,545,61322,2204
34,,New York,401706,32350,71565,–
35,,North Carolina,85701,1503,55318,–
36,,North Dakota,3858,89,3350,218
38,,Ohio,57956,2927,–,7292
39,,Oklahoma,16362,399,12432,1676
40,,Oregon,10402,218,2846,1069
41,,Pennsylvania,93876,6880,–,–
43,,Rhode Island,17312,976,–,2051
44,,South Carolina,54538,940,–,–
45,,South Dakota,7105,97,6062,689
46,,Tennessee,51509,646,31020,2860
47,,Texas,240111,3013,122996,9610
49,,Utah,25563,190,14448,1565
50,,Vermont,1251,56,1022,–
51,,Virginia,66740,1881,–,9549
52,,Washington,38517,1370,–,4463
53,,West Virginia,3461,95,2518,–
54,,Wisconsin,35318,805,25542,3574
55,,Wyoming,1675,20,1172,253
56,Totals Per Column,-,3140357,132864,768814,135375