In [18]:
import pandas as pd
df =pd.read_csv('MetObjects.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6,9,10,11,12,13,20,32,33,34,35,36,37,38,39,40,41,42,44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
df

,Object Number,Is Highlight,Is Timeline Work,Is Public Domain,Object ID,Department,AccessionYear,Object Name,Title,Culture,...,Subregion,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date
0,1979.486.1,False,False,False,1,The American Wing,1979,Coin,One-dollar Liberty Head Coin,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN
1,1980.264.5,False,False,False,2,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN
2,67.265.9,False,False,False,3,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN
3,67.265.10,False,False,False,4,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN
4,67.265.11,False,False,False,5,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,NaN,...,NaN,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474415,93.13.92,False,False,True,844418,European Sculpture and Decorative Arts,1893,Knife,Carving knife,Dutch,...,NaN,NaN,NaN,NaN,NaN,Metalwork-Steel,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
474416,62.118.11,False,False,True,844419,European Sculpture and Decorative Arts,1962,Chisel,Chisel,Italian,...,NaN,NaN,NaN,NaN,NaN,Metalwork-Steel,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
474417,2020.141,False,False,False,844452,Drawings and Prints,NaN,"Print, Poster",Perly-Cross,NaN,...,NaN,NaN,NaN,NaN,NaN,Prints|Posters,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
474418,2020.113,False,False,False,844466,Drawings and Prints,2020,"Print, Poster",Golf Calendar for 1899,NaN,...,NaN,NaN,NaN,NaN,NaN,Prints|Posters,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
474419,"13.225.13–.14, .16–.28",False,False,True,844483,Greek and Roman Art,1913,Group of fifteen terracotta comic actors,Group of fifteen terracotta comic actors,Greek,...,NaN,NaN,NaN,NaN,NaN,Terracottas,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN

# 7) Generate date range

In [23]:
pd.date_range(start='1877', end='2020')

DatetimeIndex(['1877-01-01', '1877-01-02', '1877-01-03', '1877-01-04',
               '1877-01-05', '1877-01-06', '1877-01-07', '1877-01-08',
               '1877-01-09', '1877-01-10',
               ...
               '2019-12-23', '2019-12-24', '2019-12-25', '2019-12-26',
               '2019-12-27', '2019-12-28', '2019-12-29', '2019-12-30',
               '2019-12-31', '2020-01-01'],
              dtype='datetime64[ns]', length=52230, freq='D')

# 8) Frequencies and date offsets

In [24]:
from pandas.tseries.offsets import Hour, Minute

In [25]:
hour = Hour()
hour

In [26]:
four_hours = Hour(4)
four_hours

In [27]:
pd.date_range('1877-01-01', '2020-01-01', freq='4h')

DatetimeIndex(['1877-01-01 00:00:00', '1877-01-01 04:00:00',
               '1877-01-01 08:00:00', '1877-01-01 12:00:00',
               '1877-01-01 16:00:00', '1877-01-01 20:00:00',
               '1877-01-02 00:00:00', '1877-01-02 04:00:00',
               '1877-01-02 08:00:00', '1877-01-02 12:00:00',
               ...
               '2019-12-30 12:00:00', '2019-12-30 16:00:00',
               '2019-12-30 20:00:00', '2019-12-31 00:00:00',
               '2019-12-31 04:00:00', '2019-12-31 08:00:00',
               '2019-12-31 12:00:00', '2019-12-31 16:00:00',
               '2019-12-31 20:00:00', '2020-01-01 00:00:00'],
              dtype='datetime64[ns]', length=313375, freq='4H')